{% extends "colegios/padre.html" %}

{% block titulo %}
<h3 class="masthead-heading mb-0">Acerca de mí</h3>
{% endblock %}


{% block formulario %}
Ingeniero civil en computación e informática con once años de trayectoria en la industria de servicios de TI y atención de clientes. Experiencia en manejo y mentoría de equipos de soporte técnico. Profesional bilingüe con certificación TOEIC, excelentes habilidades comunicativas en español e inglés y basta experiencia trabajando en equipos multinacionales. Solaris 10 System Administrator certificado. Manejo de arquitectura de hardware de servidores Sun/Oracle. 
{% endblock %}

